/* Your styles goes here */
#root {
    display: flex;
    justify-content: center;
}
.task-creator {
    border: 2px solid black;
    width: 33.3%;
    padding: 20px;

    height: 600px;
    position: relative;
}
.creator-header {
    border-bottom: 2px solid black;
}
.creator-header-title h1 {
    text-align: center;
    margin: 0;
}
.action {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    position: relative;
}
.action-input {
    width: 80%;
}
.action-input input {
    width: 100%;
    border: 1px solid black;
    padding: 4px 10px;
}
.action-btn button {
    cursor: pointer;
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
}
.creator-main-list {
    padding: 0px 10px;
}

#main-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main-list li {
    padding: 5px 0px;
}
.listitem {
    display: flex;
    justify-content: space-between;
}
#checkbox-task {
    cursor: pointer;
}
.listitem-text {
    margin-left: 5px;
}
#listitem-edit {
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
}
.listitem-group {
    display: flex;
    align-items: center;
}
.creator-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 24px;
    width: 92%;
}
.creator-footer img {
    width: 80px;
    height: 80px;
}

#main-list {
  list-style-type: none;
}

#main-list li {
  cursor: move;
}
#main-list li.dragElem {
  opacity: 0.4;
}
#main-list li.over {
  border-top: 2px solid black;
}

#maximumError {
    font-size: 12px;
    position: absolute;
    bottom: 1px;
    color: #e03535;
}