@import "normilize";
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
}
.header-wrap {
  position: relative;
  background: url("../img/apples.jpg") no-repeat center ;
  background-size: cover;
  width: 100%;
  height: 716px;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  img {
    width: 100%;
    height: 918px;
  }
}
.header-navigation {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    margin-right: 8px;
    a {
      text-decoration: none;
      color: #fff;
      transition: 0.3s all ease;
      font-size: 18px;
      margin-left: 46px;
      &:hover {
        color: #B7C8D9;
      }
    }
  }
}
.logo {
  h2 {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
}
.header-central-logo {
  display: flex;
  justify-content: center;
}
.header-central-logo_text {
  h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.5em;
    span {
      font-weight: 600;
      font-size: 2em;
    }
  }
}
.header-central-logo_signature {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.header-button {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
  a {
    display: block;
    border: 2px solid #FFF;
    color: #fff;
    padding: 14px 68px;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    &:hover {

    }
  }
}

//========================= main ==============
.main-content-wrap {
  background-color: #F3F3F3;
  padding-bottom: 50px;
  padding-top: 126px;
}

.main-present-text-wrap {
  background-color: white;
}
.main-present-text {
  padding-top: 110px;
  padding-bottom: 116px;
  display: flex;
  justify-content: space-between;
}
.main-present-text_item {
  //width: 47%;
}
.main-present-text_left {
  font-size: 25px;
  width: 39%;
}
.main-present-text_right {
  width: 49%;
  padding-top: 7px;
}
.main-content__title {
  margin-bottom: 85px;
  h2 {
    text-align: center;
    font-weight: 500;
  }
}

.main-content__item__img {
  box-shadow: inset -9px -48px 145px 0 rgba(0, 0, 0, 0.51);
  height: 291px;
  position: relative;
  background:  url("../img/sample.jpg") no-repeat center ;
  width: 63.5%;
  .item-counter {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 2px solid white;
    padding: 5px 7px;
    background: rgba(0, 0, 0, 0.5);
    span {
      color: #fff;
    }
  }
  .img-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
  }
}
.main-content__item__text {
  width: 33.3%;
  display: flex;
  align-items: center;
  p {
    text-align: center;
  }
}
.main-content__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.subscribe {
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 0;
  h2 {
    font-weight: 500;
  }
  margin-top: 50px;
}
.subscribe-inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.subscribe__form {
  input {
    border: 1px solid black;
    padding: 20px;
    width: 670px;
    &::placeholder {
      font-size: 16px;
    }
  }
  button {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 21px;
    margin-left: -4px;
  }
}
//================================= footer =================
.footer {
  display: flex;
  justify-content: space-between;
  &__item {
    margin-right: 20px;
    p, a, span {
      color: #A4A4A4;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.footer__item__contact {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 3px;
    a {
      text-decoration: none;
    }
  }
}
.footer__item_tweet {
  span {
    color: #ECE8E8;
  }
  p {
    margin-bottom: 5px;
  }
}
.footer__item__form {
  input {
    width: 58%;
    padding: 8px;
    &::placeholder {
      font-size: 13px;
    }
  }
  button {
    padding: 9px;
  }
}
.footer-menu {
  display: flex;
  justify-content:space-between;
  border-top: 1px solid #F3F3F3;
  padding: 15px 0;
  margin-top: 100px;
  nav {
    a {
      text-decoration: none;
      color: #000;
      transition: 0.3s all ease;
      margin-right: 15px;
      &:hover {
        color: red;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
//#B7C8D9
//#FFF
//#F3F3F3
//#A4A4A4
//#F0F0F0
//#000
//#343638
//#E8E8E8
//#9E9E9E
