$titleColor: #1FBCD3;
$navBorder: #617D8A;
$postDescriptionColor: #159587;
$postTitleColor: #1697A6;
$postText: #617D8A;
$formBorder: #617D8A;

//$fontFamily: sans-serif;
$fontFamily: Geneva, Arial, Helvetica, sans-serif;
