$titleColor: #FC5830;
$navBorder: #CFD8DC;
$postDescriptionColor: #BDBDBD;
$postTitleColor: #617D8A;
$postText: #757575;
$formBorder: #CFD8DC;

//$fontFamily: serif;
$fontFamily: Georgia, 'Times New Roman', Times, serif;